.headerMainContainer {
  height: 10vh;
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerHeadingDiv {
  letter-spacing: 0.2rem;
  color: #3b803e;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}
.navlinks {
  margin-right: 2rem;
  text-decoration: none;
  color: grey;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.active {
  font-size: large;
  font-weight: bold;
  color: #3b803e;
}
